/*
arancione acceso
ff9d3f

marrone scuro
7a2f00

marrone chiaro
b06d44

arancione scuro
cc4e00

giallo
ffdf2b
*/

.flexcontainer{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    
}
/* 
font 7vw mobile 4rem desktop
padding 5vh mobile 3% desktop
*/
.modifiedh1{
    font-size: min(7vw, 4rem);
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    text-shadow: 0 0 10px black;
    padding-bottom: 5vh;
}

/* padding 7vw mobile 4rem desktop*/
.button{
    
    color:  #6bbac6;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 0;
    border-radius: 2%;
    text-decoration: none;
    padding: 1%;
}
.button:hover {
    background-color: #6bbac6;
    color: #ffffff; }
    .button:active {
    background-color: #255057;
    color: #ffffff; }

.background{
    background-image: url(assets/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    background-blend-mode: overlay;
    
}

.myButton {
    color: #000000; 
    font-size: 150%; 
    line-height:1em; 
    padding: 15px; 
    border-radius: 2px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal; text-decoration: none; 
    
    
    background-color: white;
    
    border: none;
    display: inline-block;}
    .myButton:hover {
    background: antiquewhite; }
    .myButton:active {
    background: antiquewhite; }

    .ostack{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .pCustom{
        font-size: 1.5vw;
        
    }

    .h2Custom{
        font-size: 2vw;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .roundBoxYellowOrange{
        background-color: #ffffff;
        border-color: #ffdf2b;
        color: #ff751f;
        border-style: solid;
        border-width: 0.2vh;
        border-radius: 100%;
        
        
        width: min(100px, 10vw);
        height: min(100px, 10vw);
    
    }

    .roundBoxYellowBlue{
        background-color: #ffffff;
        border-color: #ffdf2b;
        color: #124747;
        border-style: solid;
        border-width: 0.2vh;
        border-radius: 100%;
        
        
        width: min(100px, 10vw);
        height: min(100px, 10vw);
    
    }
    .roundBoxOrangeYellow{
        background-color: #ffffff;
        border-color:  #cc4e00;
        color: #ffdf2b;
        border-style: solid;
        border-width: 0.2vh;
        border-radius: 100%;
        
        
        width: min(100px, 10vw);
        height: min(100px, 10vw);
    
    }
    